In [1]:
# import important libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# read the data

In [4]:
data = pd.read_csv('car_age_price.csv')

In [5]:
# first 5 rows of the data

In [6]:
data.head()

   Year   Price
0  2018  465000
1  2019  755000
2  2019  700000
3  2018  465000
4  2018  465000

In [7]:
# the shape of the data(count of rows and columns)

In [8]:
data.shape

(112, 2)

In [9]:
# checking null values and data types

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    112 non-null    int64
 1   Price   112 non-null    int64
dtypes: int64(2)
memory usage: 1.9 KB

In [11]:
# measure of central tendancy of the given data

In [12]:
data.describe()

              Year          Price
count   112.000000     112.000000
mean   2016.669643  483866.044643
std       1.629616   91217.450533
min    2013.000000  300000.000000
25%    2015.000000  423750.000000
50%    2017.000000  500000.000000
75%    2017.000000  550000.000000
max    2020.000000  755000.000000

In [13]:
# finding the data correlation

In [14]:
data.corr()

           Year     Price
Year   1.000000  0.776302
Price  0.776302  1.000000

In [15]:
# splitting data into features and targets

In [16]:
y= data['Price'] # target
x= data.drop(['Year'], axis=1)

In [17]:
# target( dependent variable)

In [18]:
x

      Price
0    465000
1    755000
2    700000
3    465000
4    465000
..      ...
107  375000
108  300000
109  425000
110  420000
111  425000

[112 rows x 1 columns]

In [19]:
# feature (independent variable)

In [20]:
y

0      465000
1      755000
2      700000
3      465000
4      465000
        ...
107    375000
108    300000
109    425000
110    420000
111    425000
Name: Price, Length: 112, dtype: int64

In [21]:
# import necessary libraries
from sklearn.model_selection import train_test_split
# split data into training and test sets
x_train,x_test, y_train,y_test = train_test_split(x,y,test_size=0.2,
                                                  random_state=42)

from sklearn.linear_model import LinearRegression
# create an instance of the Linear Regeession class
lr = LinearRegression()
# fit the model to the training data
model = lr.fit(x_train,y_train)
# make prediction on the test data
y_pred= model.predict(x_test)

In [22]:
y_test

40     525000
65     495000
4      465000
47     450000
42     550000
69     300000
26     550000
11     500000
10     500000
44     550000
73     320000
55     550000
68     465000
97     640000
0      465000
18     500000
53     345000
80     390000
103    375000
91     520000
36     550000
12     500000
31     550000
Name: Price, dtype: int64

In [23]:
y_pred

array([525000., 495000., 465000., 450000., 550000., 300000., 550000.,
       500000., 500000., 550000., 320000., 550000., 465000., 640000.,
       465000., 500000., 345000., 390000., 375000., 520000., 550000.,
       500000., 550000.])

In [24]:
# import the mean_squared_error and r_squared value
from sklearn.metrics import mean_squared_error, r2_score
# printing the final result
print('MSE is: ', mean_squared_error(y_test,y_pred))

print('R squared value is: ', r2_score(y_test,y_pred))

MSE is:  7.365503889167829e-22
R squared value is:  1.0

In [25]:
# Import necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso

# Split data into training and test sets
x_train1, x_test1, y_train1, y_test1 = train_test_split(x, y, test_size=0.2, random_state=42)

In [26]:
# Create an instance of the Lasso class
lasso_model = Lasso()

# Fit the model to the training data
lasso_model.fit(x_train1, y_train1)

Lasso()

In [27]:
# Make predictions on the test data
y_pred2 = lasso_model.predict(x_test1)

In [28]:
y_pred2

array([524999.99999532, 494999.9999988 , 465000.00000229, 450000.00000403,
       549999.99999241, 300000.00002146, 549999.99999241, 499999.99999822,
       499999.99999822, 549999.99999241, 320000.00001914, 549999.99999241,
       465000.00000229, 639999.99998195, 465000.00000229, 499999.99999822,
       345000.00001623, 390000.000011  , 375000.00001275, 519999.9999959 ,
       549999.99999241, 499999.99999822, 549999.99999241])

In [29]:
print('MSE is: ', mean_squared_error(y_test1,y_pred2))
print('R squared value is: ', lasso_model.score(x_test1,y_test1))

MSE is:  9.26027043598042e-11
R squared value is:  1.0