# GETTING KNOW ABOUT THE DATA SET

## IMPORT LIBRARIES

In [43]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import statistics as stat

## IMPORT DATASET

In [44]:
df = pd.read_csv('Sales_add.csv')

## DISPLAY DATASET

In [45]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

## GETTING KNOW ABOUT DATSET SHAPE & COLUMNS

In [46]:
df.shape

(22, 5)

In [47]:
df.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

## GET INFORMATIONS ABOUT DATASET

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

# DATA CLEANING

## CHECK NULL VALUES

In [49]:
df.isnull().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

## GET DESCRIPTIVE STATISTICS ABOUT DATASET

In [50]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

### The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [51]:
#sales before digital add

In [52]:
stat.mean(df['Sales_before_digital_add(in $)'])

149239.95454545456

In [53]:
stat.median(df['Sales_before_digital_add(in $)'])

147444.0

In [54]:
stat.mode(df['Sales_before_digital_add(in $)'])

132921

In [55]:
stat.variance(df['Sales_before_digital_add(in $)'])

220345610.23593074

In [56]:
stat.stdev(df['Sales_before_digital_add(in $)'])

14844.042920846421

In [57]:
#sales after digital add

In [58]:
stat.mean(df['Sales_After_digital_add(in $)'])

231123.72727272726

In [59]:
stat.median(df['Sales_After_digital_add(in $)'])

229986.5

In [60]:
stat.mode(df['Sales_After_digital_add(in $)'])

270390

In [61]:
stat.variance(df['Sales_After_digital_add(in $)'])

653148853.7316017

In [62]:
stat.stdev(df['Sales_After_digital_add(in $)'])

25556.777060725042

In [63]:
# t test is a statistical test that is used to compare the means of two groups

In [64]:
from scipy.stats import ttest_ind

In [65]:
# null hypothesis: digital add not changed the sales
# altenative hypothesis: digital add incresed the sales

In [66]:
t_test, p_value= ttest_ind(df['Sales_before_digital_add(in $)'],df['Sales_After_digital_add(in $)'])
t_test, p_value

(-12.995084451110875, 2.614368006904645e-16)

In [67]:
if p_value<0.05:
    print('null hyposthesis rejectd')
else:
    print('null hypothesis accepted')

null hyposthesis rejectd

In [68]:
#null hypothesis rejected and we can conclude that digital adds contiributed to increse in sales.

## The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [69]:
# chi square

##### The chi square test of independence also known as the chi square test of association which is used to determine the association between the categorical variables

In [70]:
from scipy.stats import chi2_contingency

In [71]:
c,p,dof,expected= chi2_contingency(df['Sales_before_digital_add(in $)'],df['Sales_After_digital_add(in $)'])

In [72]:
c

0.0

In [73]:
p

1.0

In [74]:
dof

0

In [75]:
expected

array([132921., 149559., 146278., 152167., 159525., 137163., 130625.,
       131140., 171259., 141956., 159339., 178939., 145062., 151514.,
       147463., 177195., 140862., 167996., 132135., 152493., 147425.,
       130263.])

In [76]:
# null hypothesis: there is no dependency between the features “Region” and “Manager”.
# alternative hypothesis: there is dependency between the features “Region” and “Manager”.

In [77]:
if p<0.05:
    print('null hyposthesis rejectd')
else:
    print('null hypothesis accepted')

null hypothesis accepted

In [78]:
#there no dependency between the features “Region” and “Manager”.